name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Docker login
        run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag $DOCKER_USER/yotsuba:$(date +%s)  --build-arg DOCKER_TOKEN=${{ secrets.DOCKER_TOKEN }} --build-arg CLIENT_ID=${{ secrets.CLIENT_ID }} --build-arg DATABASE_URL=${{ secrets.DATABASE_URL }}
      - name: Docker push
        run: docker push $DOCKER_USER/yotsuba:$(date +%s)
