name: Publish Docker image

on: [workflow_dispatch]

jobs:
  Image-Build:
    name: Push Docker image to Docker Hub
    runs-on: self-hosted
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create Docker context
      - run: docker buildx create --name yotsuba-builder --driver docker-container --use tls-environment

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          push: true
          tags: ${{ secrets.DOCKER_USER }}/yotsuba:latest
          build-args: |
            "DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }}"
            "DATABASE_URL=${{ secrets.DATABASE_URL }}"
            "CLIENT_ID=${{ secrets.CLIENT_ID }}"

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
